<table class='table table-bordered'>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Numéro
        </th>
        <th>
            Supprimer
        </th>
        <th>
            editer
        </th>
    </tr>
    <tr ng-repeat='contact in vm.contacts'>
        <td>
            {{contact.nom}}
        </td>
        <td>
            {{contact.numero}}
        </td>
        <td>
            <button class='btn btn-danger' ng-click='vm.delete(contact._id)'>Supprimer</button>
        </td>
        <td>
            <button class='btn btn-danger' ng-click='vm.update(contact._id)'>Editer</button>
        </td>
    </tr>
    <tr>
        <td>
            <input ng-model='vm.new.nom' placeholder="Nom...">
        </td>
        <td>
            <input ng-model='vm.new.numero' placeholder="Numéro...">
        </td>
        <td>
            <button ng-click='vm.create()' class='btn btn-primary'>Ajouter</button>
        </td>
    </tr>
</table>



